@import '@assets/_mixins.scss';

.languages {
  @include flexbox();

  button {
    background: #fff;
    outline: none;
    padding: 0.35rem 1rem;
    border: 2px solid #ddd;
    border-radius: 0.25rem;
    margin: 0 0.25rem 2rem;
    cursor: pointer;
    font-size: 1.1rem;

    &.active {
      border-color: green;
    }
    &:hover {
      background: #ddd;
    }
  }
}
